
<!DOCTYPE html>
<html lang="en" class="bg-black">

<head>
  <meta charset="UTF-8">
  

    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />

    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111" />



  
  

  <title>Compact book quotes</title>

    <link rel="canonical" href="https://codepen.io/lalacode/pen/dydxxxe">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">

  
  
<style>
@font-face {
  font-family: "Roboto Flex";
  src: url("https://digitalupgrade.com/images/misc/RobotoFlex-VariableFont_GRADXTRAYOPQYTASYTDEYTFIYTLCYTUCopszslntwdthwght.woff2") format("woff2");
}
body {
  font-family: "Roboto Flex", sans-serif;
}

.group-hover\:transition-transform {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  animation-direction: alternate;
}

.num {
  font-size: 10rem;
  line-height: 0.9;
  font-weight: 550;
  font-variation-settings: "wdth" 35, "YTFI" 788;
}

.stretch {
  font-weight: 500;
  font-variation-settings: "wdth" 35;
  writing-mode: vertical-rl;
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  <script src="https://public.codepenassets.com/js/prefixfree-1.0.7.min.js"></script>

  
</head>

<body translate="no">
  <div class="relative py-8 sm:py-8 xl:py-3 min-w-screen min-h-screen flex items-center justify-center text-white">
	<div class="grid border-x lg:grid-cols-3 sm:grid-cols-3 grid-cols-2 lg:divide-x divide-solid divide-white">
		<article class="group h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
			<div class="sm:pb-8 pb-3 num">1</div>
			<div class="sm:py-3 py-1.5 uppercase font-light">Herman Hesse</div>
			<div class="sm:h-28 h-20 flex items-center text-xs">
				<p class="break-words font-light whitespace-pre-line mx-auto w-28">Professionalism is dedication multiplied on time</p>
			</div>
			<div class="sm:py-3 py-1.5 uppercase">Page 56</div>
			<div class="py-8 text-9xl relative">
				<q class="text-xs absolute sm:top-28 top-24 left-[8%] max-w-[84%]">
					But if I do not go along with your sadness, do not let myself be infected by it, that does not mean I don't recognize it or take it seriously.
				</q>
				<div class="sm:pt-36 pt-32 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">Pro</div>
			</div>
		</article>
		<article class="group border-l lg:border-l-0 h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
			<div class="sm:pb-8 pb-3 num">2</div>
			<div class="sm:py-3 py-1.5 uppercase font-light">Bob Dylan</div>
			<div class="sm:h-28 h-20 flex items-center text-xs">
				<p class="break-words font-light whitespace-pre-line mx-auto w-28">Society is mainly designed by it's cultural elites</p>
			</div>
			<div class="sm:py-3 py-1.5  uppercase">Page 85</div>
			<div class="py-8 text-9xl relative">
				<q class="text-xs absolute top-28 left-[8%] max-w-[84%]">
					what a drag it gets to be. writing for this chosen few. writing for anyone cpt you.
				</q>
				<div class="sm:pt-8 pt-4 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">Design</div>
			</div>
		</article>
		<article class="group lg:border-l-0 sm:border-l border-l-0 h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
			<div class="sm:pb-8 pb-3 num">3</div>
			<div class="sm:py-3 py-1.5 uppercase font-light">Isaac Asimov</div>
			<div class="sm:h-28 h-20 flex items-center text-xs">
				<p class="break-words font-light whitespace-pre-line mx-auto w-28">Exploration of unknown is all about warm heart</p>
			</div>
			<div class="sm:py-3 py-1.5 uppercase">Page 27</div>
			<div class="py-8 text-9xl relative">
				<q class="text-xs absolute top-32 left-[8%] max-w-[84%]">
					It's your fiction that interests me. Your studies of the interplay of human motives and emotion.
				</q>
				<div class="pt-12 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">About</div>
			</div>
		</article>
	</div>
</div>
  
  
  
</body>

</html>
